/* navigation */

#navbar{
    flex-direction: column;
    color: black;
}

#navbar ul li a{
color: black;
}



/* home section  */

#home{

flex-direction: column;
height: 650px;
padding: 1px 1px;
}

#home::before{
    height: 105vh;
    width: 150vw;


}

/* services */

#box1{
    width: 100%;
}